USE [master]
GO
/****** Object:  Database [Data.DbModel]    Script Date: 04.03.2020 15:22:57 ******/
CREATE DATABASE [Data.DbModel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Data.DbModel',SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Data.DbModel_log', SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Data.DbModel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Data.DbModel]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 04.03.2020 15:22:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblArticles]    Script Date: 04.03.2020 15:22:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblArticles](
	[ArticleId] [int] IDENTITY(1,1) NOT NULL,
	[ArticleName] [nvarchar](50) NOT NULL,
	[ArticleDescription] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ArticleCategory] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.tblArticles] PRIMARY KEY CLUSTERED 
(
	[ArticleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblCategory]    Script Date: 04.03.2020 15:22:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategory](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.tblCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblPostion]    Script Date: 04.03.2020 15:22:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPostion](
	[PositionId] [int] IDENTITY(1,1) NOT NULL,
	[PositionName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.tblPostion] PRIMARY KEY CLUSTERED 
(
	[PositionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 04.03.2020 15:22:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Position] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.tblUser] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tblArticles] ON 

INSERT [dbo].[tblArticles] ([ArticleId], [ArticleName], [ArticleDescription], [Price], [ArticleCategory]) VALUES (16, N'Potop', N'Polski film historyczny z 1974 roku', CAST(12.99 AS Decimal(18, 2)), N'Books')
INSERT [dbo].[tblArticles] ([ArticleId], [ArticleName], [ArticleDescription], [Price], [ArticleCategory]) VALUES (18, N'Krzyżacy', N'Polski film historyczny z 1960 roku', CAST(12.99 AS Decimal(18, 2)), N'Books')
INSERT [dbo].[tblArticles] ([ArticleId], [ArticleName], [ArticleDescription], [Price], [ArticleCategory]) VALUES (19, N'Krzesło', N'Standard Ikea', CAST(20.99 AS Decimal(18, 2)), N'Furniture')
SET IDENTITY_INSERT [dbo].[tblArticles] OFF
SET IDENTITY_INSERT [dbo].[tblCategory] ON 

INSERT [dbo].[tblCategory] ([CategoryId], [CategoryName]) VALUES (2, N'Books')
INSERT [dbo].[tblCategory] ([CategoryId], [CategoryName]) VALUES (8, N'Furniture')
INSERT [dbo].[tblCategory] ([CategoryId], [CategoryName]) VALUES (9, N'Cars')
SET IDENTITY_INSERT [dbo].[tblCategory] OFF
SET IDENTITY_INSERT [dbo].[tblPostion] ON 

INSERT [dbo].[tblPostion] ([PositionId], [PositionName]) VALUES (1, N'admin')
INSERT [dbo].[tblPostion] ([PositionId], [PositionName]) VALUES (2, N'User')
SET IDENTITY_INSERT [dbo].[tblPostion] OFF
SET IDENTITY_INSERT [dbo].[tblUser] ON 

INSERT [dbo].[tblUser] ([UserId], [FirstName], [LastName], [Email], [UserName], [Password], [Position]) VALUES (1, N'Damian', N'Lewandowski', N'test', N'admin', N'admin', N'admin')
INSERT [dbo].[tblUser] ([UserId], [FirstName], [LastName], [Email], [UserName], [Password], [Position]) VALUES (2, N'Damian', N'Lewandowski', N'test', N'Damian', N'123', N'User')
INSERT [dbo].[tblUser] ([UserId], [FirstName], [LastName], [Email], [UserName], [Password], [Position]) VALUES (18, N'11', N'11', N'11', N'11', N'123', N'User')
SET IDENTITY_INSERT [dbo].[tblUser] OFF
USE [master]
GO
